<md-toolbar class="md-whiteframe-6dp">
    <div class="md-toolbar-tools">
        <h2>Show Me Races</h2>
        <span flex>
        </span>
        <md-button aria-label="Authenticate Strava" ng-href="{{ $ctrl.authUrl }}">
            Authenticate Strava
        </md-button>
        <md-button aria-label="Deauthorize Strava" ng-click="$ctrl.deauthorize()">
            Deauthorize Strava
        </md-button>
    </div>
</md-toolbar>
<md-content layout="column" flex>
    <div ui-view></div>
</md-content>

