<div layout="row" flex>
    <div ng-if="$ctrl.selectedRace" flex>
        <h4>{{ $ctrl.selectedRace._source.title }}</h4>
        <p ng-if="$ctrl.selectedRace._source.race_distance[0]">Distance:
            {{ $ctrl.selectedRace._source.race_distance[0] }}</p>
        <p ng-if="$ctrl.selectedRace._source.topic">{{ $ctrl.selectedRace._source.topic }}</p>
        <p ng-if="$ctrl.selectedRace._source.address.city">{{ $ctrl.selectedRace._source.address.city }},
            {{ $ctrl.selectedRace._source.address.state }}</p>
        <p ng-if="$ctrl.selectedRace._source.location_text">{{ $ctrl.selectedRace._source.location_text }}</p>
        <a href="{{ $ctrl.selectedRace._source.data_source_url }}">Source Website</a>
    </div>
    <div ng-if="!$ctrl.selectedRace" flex>
        <p>
            Hover over a race to see details.
        </p>
    </div>
    <leaflet id="detailMap"
             lf-center="$ctrl.mapObject.center"
             bounds="$ctrl.mapObject.bounds"
             layers="$ctrl.mapObject.layers"
             markers="$ctrl.mapObject.markers"
             paths="$ctrl.mapObject.paths"
             width="300px"
             height="200px"></leaflet>
</div>
