<div layout="row" flex>
    <div layout="column" flex>
        <md-progress-linear md-mode="indeterminate" class="md-accent"
                            ng-show="$ctrl.isLoadingList"></md-progress-linear>
        <race-map race-list="$ctrl.raceList"
                  selected-race="$ctrl.selectedRace"
                  clicked-race="$ctrl.clickedRace"
                  on-select="$ctrl.onSelect(race)"
                  on-click-selected="$ctrl.onClickSelected(race)"
                  layout="column" flex="grow"></race-map>
    </div>
    <div layout="column" class="md-whiteframe-3dp" flex="40">

        <h3>{{ $ctrl.raceList[$ctrl.selectedRace].name }}</h3>
        <h5>{{ $ctrl.raceList[$ctrl.selectedRace].moving_time }}</h5>

        <div layout="row">
            <md-button class="md-primary md-raised" ng-click="$ctrl.previousRace()">
                Previous Activity
            </md-button>
            <md-button class="md-primary md-raised" ng-click="$ctrl.nextRace()">
                Next Activity
            </md-button>
        </div>
    </div>
</div>