<div layout="row" layout-align="center" flex>
    <div layout="column" class="md-whiteframe-3dp" flex>
        <md-progress-linear md-mode="indeterminate" class="md-accent"
                            ng-show="$ctrl.isLoadingRaceDetails"></md-progress-linear>
        <div layout="col" layout-align="center center" flex="20" ng-if="$ctrl.isLoadingList">
            <h3>Loading Activities...</h3>
        </div>

        <div layout="row" layout-align="start" flex="20" ng-if="$ctrl.raceList.length > 0">
            <md-button class="md-primary md-fab md-fab-bottom-left" ng-click="$ctrl.playAnimation()"
                       ng-if="!$ctrl.intervalPromise && !$ctrl.finishedAnimation">
                Play
            </md-button>
            <md-button class="md-primary md-fab md-fab-bottom-left" ng-click="$ctrl.pauseAnimation()"
                       ng-if="$ctrl.intervalPromise && !$ctrl.finishedAnimation">
                Pause
            </md-button>
            <md-button class="md-primary md-fab md-fab-bottom-left" ng-click="$ctrl.restartAnimation()"
                       ng-if="$ctrl.finishedAnimation">
                Replay
            </md-button>
            <div layout="column" layout-align="space-around center" class="md-padding" flex="30">
                <a ng-href="https://www.strava.com/activities/{{ $ctrl.raceList[$ctrl.selectedRace].id }}">
                    View Activity on Strava
                </a>
                <p ng-if="$ctrl.raceList[$ctrl.selectedRace].start_date_local">
                    <span>Date: </span><span
                        class="md-title">{{ $ctrl.raceList[$ctrl.selectedRace].start_date_local.substring(0,10) | date : 'longDate' }}</span>
                </p>
                <p ng-if="$ctrl.raceList[$ctrl.selectedRace].location_city">
                    Location: <span class="md-title">{{ $ctrl.raceList[$ctrl.selectedRace].location_city }}
                    {{ $ctrl.raceList[$ctrl.selectedRace].location_state }}</span>
                </p>
            </div>
            <div layout="column" layout-align="center center" flex>
                <h1 ng-animate-swap="$ctrl.selectedRace" class="slide md-display-2">
                    {{ $ctrl.raceList[$ctrl.selectedRace].name }}
                </h1>
            </div>
            <div layout="column" layout-align="space-around center" class="md-padding" flex="30">
                <p ng-if="$ctrl.raceList[$ctrl.selectedRace].distance">
                    Distance: <span class="md-title">{{ $ctrl.raceList[$ctrl.selectedRace].distance }}</span> miles
                </p>
                <p ng-if="$ctrl.raceList[$ctrl.selectedRace].moving_time">
                    Time: <span class="md-title">{{ $ctrl.raceList[$ctrl.selectedRace].moving_time }}</span></p>
                <p ng-if="$ctrl.raceList[$ctrl.selectedRace].kudos_count > 0">
                    Kudos: <span class="md-title">{{ $ctrl.raceList[$ctrl.selectedRace].kudos_count }}</span></p>
                <p ng-if="$ctrl.raceList[$ctrl.selectedRace].comment_count > 0">
                    Comments: <span class="md-title">{{ $ctrl.raceList[$ctrl.selectedRace].comment_count }}</span></p>
            </div>
        </div>
        <race-map map-object="$ctrl.mapObject" layout="column" flex></race-map>
        <md-progress-linear md-mode="determinate" class="md-accent" value="{{ ($ctrl.selectedRace +1) / $ctrl.raceList.length  * 100}}"
        ></md-progress-linear>
        <div layout="row" layout-align="space-around center" class="md-padding" flex="20">
            <p class="md-title" ng-if="$ctrl.totalActivities > 0">Training Totals:</p>
            <p class="md-headline" ng-if="$ctrl.totalActivities > 0"><b class="md-display-2">
                {{ $ctrl.totalActivities }} </b> / {{ $ctrl.raceList.length }} Activities</p>
            <p class="md-headline" ng-if="$ctrl.totalDistance > 0"><b class="md-display-2">{{ $ctrl.totalDistance }}</b>
                Miles</p>
            <p class="md-headline" ng-if="$ctrl.totalKudos > 0"><b class="md-display-2">{{ $ctrl.totalKudos }}</b> Kudos
            </p>
            <p class="md-headline" ng-if="$ctrl.totalComments > 0"><b class="md-display-2">{{ $ctrl.totalComments }}</b>
                Comments</p>
        </div>
    </div>
</div>