<div layout="column"  flex="70">

    <div class="md-whiteframe-9dp md-padding" layout="row" layout-align=" center">
        <div layout="column" class="md-padding" flex>
            <h1>Race Retrospective</h1>
            <p>Relive the ups and the downs of a training cycle with an animated tour of
        your hard fought miles, well deserved kudos and innovative routes all
        leading up to the final Race payoff.</p>
        </div>
        <div layout="column">
            <img ng-src="static/assets/screen.png" style="height: 200px; width: 200px">
        </div>
    </div>

    <div layout="column" ng-if="!$ctrl.isAuthenticated" layout-align="center center">
        <h3>Authorize with your Strava account to continue</h3>
        <md-button aria-label="Authenticate Strava"
                   ng-href="{{ $ctrl.authUrl }}"
                   ng-if="!$ctrl.isAuthenticated"
        >
            <img class="logo-image" src="static/assets/ConnectWithStrava@2x.png">
        </md-button>
        <p>Or watch a build up to the 2015 Marine Corps Marathon...</p>
        <md-button class="md-raised md-warn" aria-label="Authenticate Strava" ng-click="$ctrl.demoMode()">
            Demo Mode
        </md-button>

    </div>
    <div layout="column" ng-if="$ctrl.isAuthenticated && $ctrl.profile" flex="80">
        <md-card md-theme="dark-grey" class="md-padding">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Welcome {{ $ctrl.profile.firstname }} {{ $ctrl.profile.lastname }}</span>
                    <span class="md-subhead">{{ $ctrl.profile.state }} {{ $ctrl.profile.country }}</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-md card-media">
                        <img ng-src="{{ $ctrl.profile.profile }}">
                    </div>
                </md-card-title-media>
            </md-card-title>
        </md-card>

        <p>Which Race training cycle would you like to relive?</p>
        <form ng-submit="$ctrl.submit()" layout="row" layout-align="space-around" class="md-whiteframe-1dp md-padding" >
            <div>
                <h4>Activity Type: </h4>
                <md-radio-group ng-model="$ctrl.activityType">
                    <md-radio-button value="Run" class="md-primary">Run</md-radio-button>
                    <md-radio-button value="Ride">Ride</md-radio-button>
                </md-radio-group>
            </div>

            <div ng-show="$ctrl.activityType">
                <h4>When did you start Training?</h4>
                <md-datepicker ng-model="$ctrl.startDate" md-placeholder="Start Date" md-open-on-focus></md-datepicker>
            </div>
            <div ng-show="$ctrl.startDate">
                <h4>When was your Target Race?</h4>
                <md-datepicker ng-model="$ctrl.endDate" md-placeholder="End Date" md-open-on-focus></md-datepicker>
            </div>
            <div ng-show="$ctrl.endDate">
                <md-button class="md-raised md-primary" type="submit">Let's Go!</md-button>
            </div>

        </form>
    </div>

</div>