
### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyCharm
.idea

# Npm
node_modules

# Sqlite
db.sqlite3

#
staticfiles/

# Secrets
server/settings_secret.py